.animate-gradient {
  background: linear-gradient(
    -45deg,
    rgb(32, 188, 32),
    rgb(228, 109, 109),
    rgb(67, 206, 241),
    rgb(164, 157, 157)
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.login-container {
  width: 100%;
  height: 100vh;
}

.login-box {
  width: 320px;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
